/* Demo 1 */

/* Intro Slider */
.intro-slider .banner {
    img, video {
        width:100%;
        height:100%;

    }

    figure { 
      
        overflow: hidden;
    }

    .btn { 
        font-size: 1.4em; 
        i { margin-left: .7rem;}
    }
}

.intro-slide1 {    
    &.banner-fixed > .container {
        z-index: 15;
    }
    .banner-content { 
        left: 2.1%;  
        margin-top: -.5rem;
    }
    .banner-subtitle { 
        margin-bottom: 1.3rem;
        font-family: 'Segoe Script';
        font-size: 3em; 
    }
    .label-star { margin-left: 2.5rem; }
    .banner-title { 
        margin-left: -2px; 
        font-size: 6.4em; 
        margin-bottom: 0; 
    }
    h3 { 
        margin: -0.7rem 0 0.6rem;
        font-size: 5.6em; 
    }
    p { 
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.4; 
    }
}

.intro-slide2 {
    img { object-position: 80%; }
    .banner-content { 
        max-width: 38rem; 
        right: 5.5%; 
        margin-top: -0.3rem;
    }
    .banner-subtitle { 
        font-size: 2.4em; 
        line-height: 1.1;
    }
    .banner-subtitle strong { font-size: 1.67em; line-height: .98; }
    .banner-title { font-size: 10em; margin-right: -2px; }
    p { font-size: 1.8em; line-height: 1.33; }
}

.intro-slide3 {
    .banner-subtitle { font-size: 3em; }
    .banner-title { font-size: 6em; }

    p {
        font-weight: 300; 
        opacity: .8;
        font-size: 1.8em;
        line-height: 1.4;
    }

    &.video-banner {
        video {
            display: block;
            width: 100%;
        }
    }
    figure::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        //// background: rgba(43, 151, 223, 0.3);
        // background: rgba(9, 9, 9, 0.3);
        z-index: 1;
    }
}

/* Icon Boxes */
.intro-section .service-list {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.07);
    .icon-box { padding: 3.2rem 0 3.5rem;}

    .icon-box-title { margin-bottom: .3rem; }

    .icon-box-icon { font-size: 3.7rem; }

    .icon-box1 i { font-size: 4.6rem; }

    .owl-item:not(:last-child) .icon-box::after {
        content: '';
        height: 37px;
        width: 1px;
        background: $border-color;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    .owl-stage-outer { margin: 0 .1rem; }
    .owl-stage { margin: 0 -.1rem; }
}

/* Banner Group */
.banner-divider {
    width: 35px;
    height: 4px;
    margin: 0 0 1.6rem 0;
    background-color: #fff;
}

.owl-theme.owl-nav-full:not(.product-gallery-carousel) .owl-nav {
    .owl-prev, .owl-next {
        width: 2.4rem;
        font-size: 2rem;
    }
}

/* Brand Carousel */
.brand-carousel { 
    padding: 2rem 0; 
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}

/* Product widget wrapper */
.product-widget-wrapper {
    .widget-title {
        padding: 3rem 0 .5rem;
        font-size: 2rem;
        letter-spacing: -.005em;
        color: #444;
        text-transform: none;
    }
    .product-name { margin-bottom: .3rem; }
    .product-price { font-size: 1.6rem; }
}

/* Banner Section */
.banner-section {
    .banner-sm {
        border-radius: 3px 3px 0 0;
        overflow: hidden;

        img {
            min-height: 170px;
            object-fit: cover;
        }

        .banner-content {
            padding: 0px 16px 5px 0px;
            left: 32px;
        }

        .banner-subtitle {
            font-size: 2rem;
            line-height: 1.2;
        }

        strong {
            font-size: 2.4rem;
            line-height: 1.1;
        }

        .banner-desc {
            font-size: 1.4rem;
        }
    }
    .newsletter-form {
        min-height: 287px;
        box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.1);
        border-radius: 0 0 3px 3px;
        padding: 3.55rem 3rem;
        overflow: hidden;

        .newsletter-title {
            font-size: 2.4rem;
            line-height: 1.25;
        }

        .form-control {
            padding-left: 20px;
            height: 54px;
            color: #999;
            font-size: 12px;
            border-color: #eee;
            text-align: center;
            border-radius: 5px;
        }

        .btn {
            margin-top: 18px;
            padding: .9em 1.7em;
            height: 54px;
            border: 0;
            border-radius: 5px;
        }
    }
    .banner-lg {
        box-shadow: 5px 5px 40px 0 rgba(0,0,0,0.1);
        border-radius: 3px;
        overflow: hidden;

        img {
            min-height: 75rem;
            object-fit: cover;
        }

        .banner-content {
            right: 7.5%;
            left: 7.5%;
        }
        .banner-subtitle {
            font-size: 1.8rem;
        }
        .banner-title {
            margin: 0px 0px 19px 0px;
            font-size: 3.6em;
        }
        .banner-desc {
            font-size: 16px;
            line-height: 1.5em;
            letter-spacing: -0.4px;
        }
    }
}



/* Footer */
// .footer-bottom {
//     .footer-center, .footer-left, .footer-right { margin-bottom: 2rem; }
// }
/* Responsive */
@include mq(1366px, max) {
    .intro-slider figure {
        height: 100%;
    }

}
@include mq(lg, max) {
    .service-list .owl-item:not(:last-child) .icon-box::after { content: none; }
}
@include mq(sm, max) {
    .intro-slide1 img { object-position: 53%; }
    .intro-slide2 img { object-position: 60%; }
    .banner { font-size: .8rem; }

    .brand-carousel {
        padding: 0;
    }
}
@include mq(xs, max) {
    .intro-slide1 {
        .banner-title { font-size: 5.5em; }
        .banner-content {
            width: 100%;
            left: auto;
        }
    } 
    .service-list .icon-box-icon { margin-right: .7rem; }
}

/* Animation */

@include mq('lg', 'max') {
    .video-banner {
        video {
            height: 100%;
        }
    }
}

.header {
    .welcome-msg {
        padding: 1.1rem 0 1.2rem;
    }

    .divider {
        background-color: #fff;
        opacity: .25;
        margin-right: 2rem;
    }
}

.header-top {
    a:hover {
        color: #fff;
    }
}


.header-middle {
    .header-left, .header-right {
        flex: 1;
    }

    .header-left {
        justify-content: flex-start;
    }

    .header-right {
        justify-content: flex-end;
    }

    .icon-box-icon {
        margin-right: .7rem;
    }
    
    .mobile-menu-toggle { 
        color: #fff; 
    }

    .wishlist {
        margin-right: 1.5rem;
    }

    .label-block .cart-name {
        letter-spacing: -.3px;
    }
}


.category-box {
    padding: 2.6rem 0.5rem;
    border: 1px solid #e1e1e1;
    color: #222;
    text-align: center;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    transition: border 0.3s;
    border-radius: 0.3rem;
    height: 100%;
    box-shadow: 0px -25px 20px -20px rgba(249, 247, 247, 0.45),
                0px 25px 20px -20px rgba(248, 246, 246, 0.45),
                25px 0px 20px -20px rgba(249, 248, 248, 0.45);
}

.category-box:hover{
    border-color:#3467ef;
}


.bestseller-box {
    padding: 2.6rem 0.5rem;
   // border: 1px solid #e1e1e1;
    color: #222;
    text-align: center;
    -webkit-transition: border 0.3s;
    -moz-transition: border 0.3s;
    transition: border 0.3s;
    border-radius: 2rem;
    height: 100%;
    box-shadow: 0px -25px 20px -20px rgb(233, 220, 149),
                0px 25px 20px -20px rgb(233, 220, 149),
                25px 0px 20px -20px rgb(233, 220, 149);
    -webkit-box-reflect: below 2px -webkit-gradient(
        linier right top, right bottom,
        from (transparent),
        to(rgba(255,255,255, 0.4)));
}

.bestseller-box:hover{
    border-color:#3467ef;
}


.section-gray {
    background-color: #353530 !important;
}

.border-radius-25{
    border-radius: 25px !important;
}

.border-radius-10{
    border-radius: 10px !important;
}

.background-white{
    background-color: #fff !important;
}

.color-white{
    color:#fff !important;
}

.max-height-220{
    max-height: 220px !important;
    min-height: 220px !important;
}

.title-white{
    font-size: 6em;
    color:#fff;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: 0 10px 7px rgba(0,0,0,0.4),0 4px 10px #fff;
    letter-spacing: -3px;
}

.title-gold{
    font-size: 5rem;
    color:gold;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: 0 10px 7px rgba(0,0,0,0.4),0 4px 10px #fff;
    letter-spacing: -3px;
}

.product-title-override {
    font-size:2.5rem;
    color:#fff;
}

.product-subtitle-override {
    font-size:1.5rem;
    font-weight: 100;
    color:#fff;
}

.btn-shop-focus {
    color:#fff !important;
}
.btn-shop-focus:hover{
 background-color:#26c !important;
}

.shop-banner{
    background-color:rgb(53, 53, 48, 0.8);
}
.shop-banner:hover{
    background-color:rgb(53, 53, 48);
}

.intro-banner {
    .banner-subtitle {
        font-size: 1.8em;
        letter-spacing: 0;
    }
    .banner-title { 
        font-size: 3em; 
        font-weight: 800;
    }
    p {
        font-size: 1.8em;
        opacity: .8;
    }
    .banner-content { left: 8.33%; }
    .btn {
        margin-bottom: 6px;
    }

  
}

.category-media > img, .intro-banner > figure > img {
    height:328px;
}