.blinktext {
    margin-top :250px;
    font-size: 4em;
    font-family: "Helvetica Neue", sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    //justify-content: flex-end;
    /* color: white; */
    outline: none;
    -webkit-box-reflect: below -20px linear-gradient(to bottom, #0000, #0000006c);
    animation: textBlink 3s infinite alternate;
 }

 @keyframes textBlink {
    0%, 10%, 20%, 30%, 40%, 50%, 60%, 74%, 88%, 100% {
       color: #fff;
       text-shadow: 0 0 10px #03c3fe,
                    0 0 20px #03c3fe,
                    0 0 30px #03c3fe,
                    0 0 50px #03c3fe,
                    0 0 120px #03c3fe;
    } 
    10.1%, 20.2%, 30.1%, 40.1%, 50.2%, 64%, 75%, 89% {
       color: #0d010d;
       text-shadow: none;
    }
 }